/temp
/tomcat
/.project
/.classpath
/.settings
/target
/reports
/*.iml
/*.ipr
/*.iws
/.metadata
/.idea/
/bin/
/catalina.base_IS_UNDEFINED
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.log
/**/.DS_Store
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*/node_modules/*
src/main/frondsrc/newApp/node_modules
src/main/frondsrc/*.log
src/main/frondsrc/node_modules
src/main/frondsrc/release
src/main/webapp/assets
src/main/webapp/module
src/main/webapp/skin
src/main/webapp/lang
src/main/webapp/uploadpic
src/main/webapp/js
src/main/webapp/tpl
src/main/webapp/*.html
src/main/webapp/*.js
src/main/webapp/*.json
src/main/webapp/*.txt
src/main/webapp/*.swf
src/main/webapp/*.css
src/main/webapp/*.png
src/main/webapp/*.map
src/main/webapp/*.ttf
src/main/webapp/*.eot
src/main/webapp/*.svg
src/main/webapp/*.woff
src/main/webapp/images
src/main/webapp/jsp
src/main/webapp/plugins
src/main/webapp/template
src/main/webapp/themes
src/main/webapp/favicon.ico

