<configuration debug="true" scan="true">
<property scope="context" name="baseLogPath" value="D:/" />
<!-- <property scope="context" name="baseLogPath" value="${catalina.base}" /> -->
	<!-- 控制台输出 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	
    <!--<logger name="org.springframework" level="TRACE" additivity="false">-->
        <!--<appender-ref ref="STDOUT" />-->
    <!--</logger>-->
	<!---->
	<!-- 日志输出级别 -->
	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
